
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Signika+Negative:wght@400;500&display=swap" rel="stylesheet">
    <title>Página</title>
</head>
<body>
    <header>   
        <h1>Angular com API REST</h1>
            <div class="navegacao">
                <a class="Home" [routerLink]="['']">Home</a>
                <a class="new" [routerLink]="['/Home']">Novo Usuário</a>
                <a class="ver" [routerLink]="['/Lista-Usuarios']">Lista de Usuário</a>
                <a class="editar" [routerLink]="['/Editar-Usuario']">Editar Usuário</a>
            </div>
        </header> 
    <main>
        <section>
            <h2>Cadastrar Novo Usuário</h2>
            <form  #usuarioForm = "ngForm"  (ngSubmit)="getUser(usuarioForm.value)">
                <input type="text" ngModel name = "nome" placeholder="Usuario">
                <input type="text" ngModel name = "email" placeholder="Email">
                <input type="password" ngModel name = "senha" placeholder="Senha">
                <input type="text" ngModel name = "telefone"placeholder="Telefone">
                <button>Adicionar Usuario</button>
            </form>
        </section>
    </main>
</body>
</html>